<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text {
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1>H1 text</h1>
    <h2>H2 text</h2>
    <h6>H6 text</h6>
    <p>Hello, <span style="color: blue">Hey </span>Actually_Elena</p>
    <a href="https://chrome.browserapp.ru/?utm_campaign=2_new%7C111613387&etext=2202.rQusXJwrSDvzl-loCMjbwXlmY3duemN3amNlb3ZzY2s.76495ece6dd9cbfd3728d49ae48a69eee6f933a5&yclid=8812736567966171135"
       target="_blank">Chrome</a>
    <img alt="browsers.png" src="https://chrome.browserapp.ru/static/images/chrome-logo.png" style="width: 250px">
    <ul>
        <li id="h1-text">Item 1</li>
        <li class="h2-text">Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="12345" placeholder="Text">
        <input required type="email" placeholder="Email">
        <input type="password" value="12345" placeholder="Password">
        <textarea placeholder="Text" 12345></textarea>
        <button type="submit" disabled>Text</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Text1</td>
            <td>Test2</td>
            <td>Text3</td>
        <tr>
            <td>Text4</td>
            <td>Test5</td>
            <td>Text6</td>
        </tr>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>